# Ignore node modules and dependencies
node_modules/
vendor/
package-lock.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# === Frontend Specific ===
frontend/node_modules/
frontend/package-lock.json/
frontend/build/
frontend/dist/


# === Backend Specific ===
backend/node_modules/
backend/package-lock.json/
backend/dist/
backend/build/

# Ignore compiled files
*.class
*.o
*.so
*.exe
*.dll

# Ignore environment variables
.env
.env.local
.env.development
.env.production

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.iml
